.button {
  display: block;
  position: relative;
  float: left;
  width: 100vw !important;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s;
}

.btnFloat:before {
  content: attr(data-content);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 8vh;
  border-radius: 5px;
  font-size: 1.3vw;
  line-height: 3.4vh;
  letter-spacing: -0.07em;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  line-break: loose;
  word-break: keep-all;
}

.btnPurple:before {
  background: #bb00ff;
}

.btnFloat:hover:before {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}
