.community_page {
  width: 100%;
}

.commuTitle_box {
  width: 100%;
  height: 20vh;
}

.decoCircle_box {
  position: absolute;
  z-index: 2;

  width: 3.4375vw;
  height: 4.166vh;
  margin-top: 10.6481vh;
  margin-left: 9.84375vw;

  display: flex;
}

.circleBlue1 {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 1.5vw;
  height: 3vh;

  background-color: #d2f6ff;
  border: 0.3vh solid #b8c9ff;
  border-radius: 50%;
}

.circleBlue2 {
  position: absolute;
  left: 1.666vw;
  top: 0;

  width: 0.572916vw;
  height: 1.0185vh;

  background-color: #a4edff;
  border: 0.3vh solid #92acff;
  border-radius: 50%;
}

.circleBlue3 {
  position: absolute;
  right: 0;
  top: 0.4629vh;

  width: 0.4166vw;
  height: 0.7407vh;

  background-color: #88e4fb;
  border: 0.3vh solid #7692ea;
  border-radius: 50%;
}

.commu_title {
  position: absolute;
  z-index: 3;

  margin-top: 13.3333vh;
  margin-left: 12.03125vw;

  font-size: 4.44444vh;
  font-weight: bold;
}

.commu_wholeBox{
  width: calc(100%-4vw);
  margin: 10vh 4vw;

  display: flex;
  justify-content: space-between;
}

.commu_myContainer {
  width: 15vw;
  height: 30vh;

  background-color: #e9f5ff;
  border: 0.2vw solid #4a3f55;
  border-radius: 2vw;
}

.commu_mainBox {
  width: 56vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8vh;

  background-color: aqua;
}

.commu_topContainer {
  width: 100%;
  height: 8vh;

  background-color: #F4F4F4;
  border: 0.2vw solid #4a3f55;
  border-radius: 2vw 2vw 0.5vw 0.5vw;
}

.commu_writeContainer {
  width: 100%;
  height: 10vh;

  background-color: #F4F4F4;
  border: 0.2vw solid #4a3f55;
  border-radius: 0.5vw;
}

.commu_listContainer {
  width: 100%;

  border: 0.2vw solid #4a3f55;
  border-radius: 0.5vw;
}

.commu_postContainer {
  width: 100%;
  height: 7vh;

  background-color: white;
  border-bottom: 0.2vh solid #929292;
}

.commu_bottomContainer {
  width: 100%;
  height: 8vh;

  background-color: #F4F4F4;
  border: 0.2vw solid #4a3f55;
  border-radius: 0.5vw 0.5vw 2vw 2vw;
}

.commu_bestContainer {
  width: 15vw;
  height: 40vh;

  background-color: #e9f5ff;
  border: 0.2vw solid #4a3f55;
  border-radius: 2vw;
}