.create_page {
  width: 100%;
  height: 82.314vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create_box {
  position: relative;
  width: 89.5833vw;
  height: 75.925vh;
}

.spring_box {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 10;
  width: 3.3723vw;
  height: 57.407vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spring {
  width: 2.9557vw;
  height: 1.57407vh;
  border-radius: 0.260416vw;
  background-color: #7e7c73;
  border: 0.20833vw solid #4a3f55;
}

.sketch {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 87.2916vw;
  height: 75.185vh;
  display: flex;
  border-radius: 2.916vw;
  background-color: #f4f4f4;
  border: 0.20833vw solid #4a3f55;
}

.sketch_menuContainer {
  width: 14.0625vw;
  height: 61.851vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-right: 0.10416vw solid #7e7c73;
}

.sketch_char {
  max-width: 6.8229vw;
  height: 11.574vh;
  margin-left: 4.6354vw;
  transform: scaleX(-1);
}

.sketch_menuBox {
  width: 9.1146vw;
  height: 40vh;
  margin-top: 5.833vh;
  margin-left: 3.333vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sketch_menu {
  margin-bottom: 3.8888vh;
  font-size: 2.592vh;
}

.sketch_menu.selected {
  font-size: 2.592vh;
  font-weight: bold;
  color: #ffc5c5;
  text-shadow:
    -0.08vw -0.08vw 0 #9888a8,
     0.08vw -0.08vw 0 #9888a8,
    -0.08vw  0.08vw 0 #9888a8,
     0.08vw  0.08vw 0 #9888a8;
}

.create_container {
  position: relative;
  width: 73.125vw;
  height: 61.851vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.starImg {
  position: absolute;
  top: 3.24074vh;
  right: 2.239583vw;
  z-index: 20;
  width: 4.493749vw;
  height: 6.7592vh;
}

.create_title {
  width: 64.0098vw;
  height: 9.0379vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 0.20833vw solid #ff8f8f;
  border-radius: 1.0416vw;
}

.create_titleText {
  font-size: 3.7037vh;
}

.create_titleText:first-child {
  margin-right: 0.4em;
}

.create_titleSubtext {
  font-size: 3.7037vh;
  font-weight: bold;
  color: #ff8f8f;
}

.create_contentBox {
  position: relative;
  width: 73.125vw;
  height: 52.39644vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination_box {
  position: absolute;
  bottom: 0;
  z-index: 20;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftButton_img,
.rightButton_img {
  width: 2.5vw;
  height: 6.111vh;
}

.leftButton_img {
  margin-left: 5.20833vw;
}

.rightButton_img {
  margin-right: 5.20833vw;
}

.pagination_button {
  width: 9.010416vw;
  height: 5.0925vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.777vh;
  color: #4a3f55;
  border-radius: 1.5625vw;
  cursor: pointer;
}

.left_button {
  margin-left: 4.375vw;
  margin-right: auto;
  background-color: #ffc5c5;
  border: 0.2083vw solid #ff8f8f;
}

.right_button {
  margin-left: auto;
  margin-right: 4.375vw;
  background-color: #b8c9ff;
  border: 0.2083vw solid #2c4673;
}
