.header {
    width: 100%;
    height: 17.037vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    /*background-color: #6F65A7;
    border-bottom: 0.7407vh solid #663E77;*/
    background-color: #FFC5C5;
    border-bottom: 0.7407vh solid #FF8F8F;
}

.headerLogo {
    width: 30.9375vw;
    height: 12.314vh;

    background-image: url("/src/images/headerLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav_container {
    width: 89.583vw;
    height: 4.629vh;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav_box {
    display: flex;
    gap: 1.614vw;
}

.nav {
    margin-bottom: 0.555vh;

    font-size: 2.592vh;
    color: white;
    text-decoration: none;
}