.myPage_page {
  width: 100%;
  height: 82.314vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_container {
  width: 62vw;
  height: 56vh;
  padding: 6vh 5vw;

  display: flex;

  background-color: white;
  border: 0.6vh solid #4a3f55;
  border-radius: 4vw;
}