.wholeGallery_page {
    width: 100%;
    height: 82.314vh;
}

.WG_topBox {
    width: 100%;
    height: 55vh;
       
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
}

.goTo_myGallery {
    width: 40vh;
    height: 35vh;

    background-color: aqua;
}

.goTo_openGallery {
    width: 40vh;
    height: 35vh;

    background-color: skyblue;
}

.WG_bottomBox {
    width: 100%;
    height: 27.314vh;
       
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: yellowgreen;
}